.body1{
    background-image: url("../images/sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: fixed;
    background-color: #bbeff7;
}

.body2{
  background-image: url("../images/2ndpage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-attachment: fixed;
  background-color: #bbeff7;
}

.btn {
  color: white;
}

.jumbotron {
background-color: rgba(0, 0, 0, .7);
color: white;
font-family: 'Lobster', cursive;
}
.card-header, .card{
    background-color:rgba(0, 0, 0, 0.7);
    color:white;
    }

.card-text, .card-title{
color:white;
}
.startbox, .promptbox{
    height: 1000px;
    width: 60%;
    max-width: 1000px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto
}
<<<<<<< HEAD
.card-title{
    color: white;
}
.btn {
    color:white;
}
=======
>>>>>>> 7c3f1392fc7ea915195c18e29854ebcdc33dd6c7

#reddit-prompt {
    text-align: center;
}
/* /* #####workinganimation######
.startbutton{ */
    /* margin-left: 5%;

#submit-button {
    margin-left: 45%;
}

/* this is a class that should be added to the intor box when #startbutton is clicked. it will slide the intro box to the left out of the screen */
 .slideout{
    width: 60%;
    max-width: 1000px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: slideOutLeft;  
<<<<<<< HEAD
    -webkit-animation-duration: .2s;      
    -webkit-animation-fill-mode: both; 
    animation-name: slideOutLeft;
    animation-duration: .2s;    
=======
    -webkit-animation-duration: 2s;      
    -webkit-animation-fill-mode: both; 
    animation-name: slideOutLeft;
    animation-duration: 2s;    
>>>>>>> 7c3f1392fc7ea915195c18e29854ebcdc33dd6c7
    animation-fill-mode: both;
 }

@-webkit-keyframes slideOutLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(-150%, 0, 0);
      transform: translate3d(-150%, 0, 0);
      -webkit-animation-fill-mode: both; /* Chrome 16+, Safari 4+ */
    }
  }
  
  @keyframes slideOutLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(-150%, 0, 0);
      transform: translate3d(-150%, 0, 0);
      -webkit-animation-fill-mode: both; /* Chrome 16+, Safari 4+ */

    }
  }

  /* this is a class that should be added to the prompt box when the #submit-button is clicked. it will slide the prompt box onto the screen from the right */
  .slidein{
    width: 60%;
    max-width: 1000px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
   -webkit-animation-name: slideInRight;  
   -webkit-animation-duration: 2s;      
   -webkit-animation-fill-mode: both; 
   animation-name: slideInRight;
   animation-duration: 2s;    
   animation-fill-mode: both;
  }

  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(150%, 0, 0);
      transform: translate3d(150%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(150%, 0, 0);
      transform: translate3d(150%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
<<<<<<< HEAD
  
=======
  }

  .personality-box, .match-box, .info-box {
    width: 80%;
    max-width: 1000px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.info-box, .startbox {
  padding-bottom: 200px;
}
<<<<<<< HEAD
>>>>>>> 7c3f1392fc7ea915195c18e29854ebcdc33dd6c7
=======

.hide {
  display: none;
}
>>>>>>> ffb2f87700b4caa31a4d511ded6eeb425cd8c097

.element.style {
 height:500px;
}